### Пишем функцию получения данных о подписчиках группы ВК

In [12]:
import requests

# объявляем переменные 
TOKEN_USER = 'ВСТАВЬТЕ СЮДА СВОЙ ТОКЕН'
SORT = 'id_asc'
VERSION = '5.154'

# через api vk собираем статистику подписчиков группы
def group_getMembers(TOKEN_USER, GROUP_ID, SORT, OFFSET, COUNT, FIELDS, FILTER, VERSION):
    response = requests.get('https://api.vk.com/method/groups.getMembers',
    params={'access_token': TOKEN_USER,
            'group_id': GROUP_ID,
            'sort': SORT,
            'offset': OFFSET,
            'count': COUNT,
            'fields': FIELDS,
            'filter': FILTER,
            'v': VERSION})

    data = response.json()['response']['items']
    return data

### Вызываем функцию, смотрим что получилось

In [13]:
merged_data = []

offset = 0
for i in range(3):
    data = group_getMembers(TOKEN_USER = TOKEN_USER, 
                            GROUP_ID = '203350625', 
                            SORT = SORT, 
                            OFFSET = offset, 
                            COUNT = 1000, 
                            FIELDS = 'contacts, connections, site, education, universities, schools',
                            FILTER = '',
                            VERSION = VERSION)
    offset += 1000
    merged_data = merged_data + data

### Создаем датафрейм и записываем данные в xlsx файл

In [14]:
import pandas as pd

df = pd.DataFrame(merged_data)

df.to_excel('dataframe.xlsx', index=False)

In [15]:
df = pd.read_excel('dataframe.xlsx')

df

,id,site,first_name,last_name,can_access_closed,is_closed,university,university_name,faculty,faculty_name,...,education_form,universities,schools,mobile_phone,education_status,twitter,deactivated,skype,home_phone,instagram
0,425998,http://cup-russia.ru,Grigory,Baev,True,False,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,918325,NaN,Svetlana,Lebedeva,True,False,128.0,НИУ ВШЭ (ГУ-ВШЭ),474.0,NaN,...,Full-time,"[{'chair': 970, 'chair_name': 'Общего и страте...","[{'city': 1, 'class': '', 'class_id': 0, 'coun...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1177043,NaN,Alexander,Orlov,False,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1285451,NaN,Elena,Matyunina,True,False,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1434298,dsmile.ru,Maria,Tarakanova,True,False,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2079,815738610,NaN,Milana,Gronskaya,True,False,0.0,NaN,0.0,NaN,...,NaN,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2080,815753505,NaN,Alexander,Karavanov,False,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2081,816735574,NaN,Stanislav,De,True,False,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2082,817831406,NaN,Hoang,Nguyen,True,False,0.0,NaN,0.0,NaN,...,NaN,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2083,818076453,NaN,Alexander,Suchkov,True,False,250.0,МГТУ им. Н. Э. Баумана (бывш. МВТУ),0.0,NaN,...,NaN,"[{'city': 1, 'country': 1, 'id': 250, 'name': ...",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Пишем функцию для сбора id-шников друзей каждого подписчика

In [5]:
def get_friends(user_id, access_token):
    url = f"https://api.vk.com/method/friends.get?user_id={user_id}&access_token={access_token}&v=5.131"
    response = requests.get(url)
    data = response.json()
    
    if 'response' in data:
        friend_ids = data['response']['items']
        return friend_ids
    else:
        return []
    

friends = get_friends(user_id = '222476348', access_token=TOKEN_USER)

In [6]:
print(friends)

[14603, 125282, 570821, 1586401, 1724079, 1751125, 1756709, 3392486, 3564926, 3649204, 4140740, 6747600, 7415651, 7860105, 10716257, 11084020, 11443914, 14566012, 15130612, 18054519, 22150229, 24504695, 25920500, 26056595, 31221683, 33557933, 39391287, 47789822, 48189409, 50774976, 53380877, 53426227, 54890996, 57217630, 62802397, 64528359, 67313918, 67645167, 69058535, 69783455, 71788671, 74208025, 75470808, 75486817, 79949773, 80888283, 81306028, 83990749, 86543114, 88744550, 88785305, 90218038, 98360607, 103015038, 103292079, 104113287, 108905937, 109461366, 109503356, 113614804, 113766081, 117258767, 117513509, 120790008, 120956196, 121694295, 122531992, 128321214, 132298242, 134030299, 135183920, 135404619, 135629296, 136293532, 137431919, 139070197, 140494369, 141307519, 143227673, 145137439, 145303122, 145317294, 145571973, 145724944, 146014167, 146351078, 146385718, 148356263, 148934133, 149200165, 150466848, 151142743, 151857569, 151900625, 152428649, 152466792, 153265360, 153718334, 154615247, 155428079, 157552926, 158246107, 159370664, 159537395, 159675104, 159873076, 159979435, 160731612, 160887170, 162682981, 162707677, 163702645, 163850766, 164132305, 166383687, 166519218, 167192241, 167715720, 168453427, 169041142, 169594155, 169742048, 169784950, 171036473, 172609412, 172628617, 173202717, 173917793, 173938201, 174908018, 175398959, 176521751, 177498613, 177806685, 180302823, 180691493, 181863565, 182496114, 182566546, 182688988, 183458144, 183970333, 184653538, 184741638, 184867950, 186621945, 189545064, 189806012, 190936664, 192859880, 193186292, 193314004, 193535478, 195937757, 196537807, 196910298, 199454795, 199769824, 200212482, 206105882, 206270692, 208900576, 210088642, 214197711, 214770638, 216079635, 216321356, 217711106, 218106071, 219670311, 221925306, 222004468, 223184006, 226283677, 229596620, 230768846, 233445070, 234643331, 237809260, 239572416, 239797011, 241514576, 242454944, 243076794, 243322641, 244093896, 245514279, 249015923, 249812006, 251167214, 254150573, 257771901, 258498002, 258701244, 260204171, 260526468, 262084716, 262289467, 263566262, 263765737, 264804590, 267129317, 268317864, 268862237, 268868046, 270534042, 271066331, 271197438, 272851860, 273874757, 276863373, 279370874, 288159515, 290124100, 297099142, 297272617, 300211192, 300352460, 303110279, 303807036, 312345093, 315003664, 319500399, 319584896, 321118951, 321559294, 323200457, 324831486, 325669388, 332507105, 336566622, 337548019, 337818370, 349273954, 349949007, 350447216, 356975462, 357069794, 362079560, 363807097, 366901203, 373860503, 375645523, 378528079, 379049469, 383867672, 384183092, 384586626, 387144497, 388295551, 389635337, 391380251, 400100517, 400253993, 402845109, 404630922, 410765961, 411051696, 411354928, 411776955, 415057643, 415248605, 418107884, 421912150, 422453737, 427087827, 437142759, 442106750, 444501246, 453691189, 455054426, 458773495, 463438299, 468622809, 484012925, 485497733, 487870676, 490964399, 498156621, 500094479, 500984934, 509112147, 510899273, 511055346, 513893063, 522445540, 532912594, 541035698, 550131368, 559481579, 559912382, 573667901, 589901616, 642121035, 657367201, 676194197, 743561726]

### Пишем результаты в json файл

In [7]:
import json

# Создаем словарь для хранения списков друзей
friends_dict = {}

# Для каждого элемента колонки id получаем список друзей и добавляем в словарь
for user_id in df['id']:
    friends = get_friends(user_id, access_token=TOKEN_USER)
    friends_dict[user_id] = friends

# Записываем словарь в файл в формате JSON
with open('friends.json', 'w') as f:
    json.dump(friends_dict, f)